* {
  margin: 0;
  padding: 0;
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Jua", sans-serif;
}

body .down {
  transform: translateY(-80px);
  background-color: rgba(200, 200, 200, 0.7);
}
